
//header style
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8%;
  background: #ce6666;
  
    //the site logo and the left navs
  .spacing{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    
    //resizing the site logo
    .logo {
      a{
        img.site-header{
          width: 70px;
          // background-color: #2acfcf;
        }
      }
    }

    nav ul{
      display: flex;
      gap: 2rem;
      list-style: none;
    }
    nav ul a{
      text-decoration: none;
      color: hsl(257, 7%, 63%);
      transition: 0.7s ease;
    }
    a:hover{      
      color: hsl(257, 27%, 26%);
    }
  }

  //the right side btn for login & signup
  .auth button {
    margin-left: 1rem;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.8s ease;

    &.login {
      background: none;
      color: hsl(257, 7%, 63%);
    }

    &.signup {
      background: hsl(180, 66%, 49%);
      color: white;
      
      //for the signup hover state
      &:hover{
        background-color: hsl(180, 35%, 48%);
      }
    }
  }
}//header style

//herosection style
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  // padding: 5rem 8%;
  background: #ce5d5d;

  .hero-content {
    max-width: 30%;
    padding: 3rem 8%;
    height: 60vh;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    p {
      color: hsl(257, 7%, 63%);
      margin-bottom: 2rem;
    }
    button {
      background: hsl(180, 66%, 49%);
      color: #fff;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: 0.8s ease;

      &:hover{
        background-color: hsl(180, 35%, 48%);       
      }
    }
  }

  .hero-image img {
    width: 500px;
  }
}//end of hero styling

//for the shorten links
.shorten {
  background: #f0f1f6;
  padding: 3rem 8%;
  position: relative;
  // margin-top: 2rem;

  .shorten-box {
    background: hsl(257, 27%, 26%);
    background-image: url(assets/images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;

    input {
      flex: 1;
      padding: 1rem;
      border-radius: 10px;
      border: none;
      font-size: 1rem;
      outline: none;
      // transition: 0.2s ease; not needed for the input
    }
    input:focus{
      border-radius: 8px;
      // border-color: #ce5d5d;
      border: 3px solid hsl(0, 87%, 67%);
    }

    button {
      background: hsl(180, 66%, 49%);
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 1rem 2rem;
      cursor: pointer;
      transition: 0.8s ease;

      &:hover{
        background-color: hsl(180, 35%, 48%);
      }
    }
  }

  .link-card {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    align-items: center;

    .short-side {
      display: flex;
      gap: 1rem;
      align-items: center;

      a {
        color: hsl(180, 66%, 49%);

        &:hover{
          color: hsl(180, 35%, 48%);
        }
      }

      button {
        background: hsl(180, 66%, 49%);
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        transition: 0.8s ease;

        
        &:hover{
          background-color: hsl(257, 27%, 26%);
        }
      }
    }
  }
}//end of shorten link

//for statistics
.statistics {
  background: #f0f1f6;
  padding: 5rem 8%;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2rem;

    .card {
      background: white;
      padding: 2rem;
      border-radius: 10px;
      text-align: left;
      flex: 1;
      h3 {
        margin-bottom: 1rem;
      }
      p {
        color: #9e9aa7;
      }
    }
  }
}//end for stat

//footer part
.footer {
  background: #232127;
  color: white;
  text-align: center;
  padding-top: 4rem;

  .cta {
    background: #3b3054;
    padding: 4rem 2rem;
    border-radius: 10px;
    h2 {
      margin-bottom: 1rem;
    }
    button {
      background: #2acfcf;
      border: none;
      padding: 0.8rem 2rem;
      border-radius: 30px;
      color: white;
      cursor: pointer;
    }
  }

  .footer-links {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;

    .brand {
      font-weight: 700;
      font-size: 1.8rem;
    }

    .links {
      display: flex;
      gap: 5rem;

      h4 {
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        color: #bfbfbf;
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}