
//header style
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8%;
  background: #ce6666;
  
    //the site logo and the left navs
  .spacing{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    
    //resizing the site logo
    .logo {
      a{
        img.site-header{
          width: 70px;
          // background-color: #2acfcf;
        }
      }
    }

    nav ul{
      display: flex;
      gap: 2rem;
      list-style: none;
    }
    nav ul a{
      text-decoration: none;
      color: hsl(257, 7%, 63%);
      transition: 0.7s ease;
    }
    a:hover{      
      color: hsl(257, 27%, 26%);
    }
  }

  //the right side btn for login & signup
  .auth button {
    margin-left: 1rem;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.8s ease;

    &.login {
      background: none;
      color: hsl(257, 7%, 63%);
    }

    &.signup {
      background: hsl(180, 66%, 49%);
      color: white;
      
      //for the signup hover state
      &:hover{
        background-color: hsl(180, 35%, 48%);
      }
    }
  }
}//header style

//herosection style
.hero {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #ce5d5d;
  height: 85vh;
  padding-bottom: 40px;

  .hero-content {
    max-width: 50%;
    padding: 0rem 8%;

    h1 {
      font-size: 4.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: hsl(260, 8%, 14%);
      line-height: 5rem;
    }
    p {
      color: hsl(257, 7%, 63%);
      margin-bottom: 2rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
    button {
      background: hsl(180, 66%, 49%);
      color: #fff;
      font-size: 1.2rem;
      padding: 1rem 2.5rem;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: 0.8s ease;

      &:hover{
        background-color: hsl(180, 35%, 48%);       
      }
    }
  }

  .hero-image img {
    width: 600px;
    padding: 3rem 0%;
  }
}//end of hero styling

//for the shorten links
.shorten {
  background: #f0f1f6;
  padding: 3rem 8%;
  position: relative;
  // margin-top: 2rem;

  .toMargin{
    //to positon the input nav and i make sure i chnage the div in the cimponent
    position: absolute;
    width: 84%;
    top: -50px;

    .shorten-box {
      background: hsl(257, 27%, 26%);
      background-image: url(assets/images/bg-shorten-desktop.svg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px;
      padding: 1.5rem;
      display: flex;
      gap: 1rem;
  
      input {
        flex: 1;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        font-size: 1rem;
        outline: none;
        // transition: 0.2s ease; not needed for the input
      }
      input:focus{
        border-radius: 8px;
        // border-color: #ce5d5d;
        border: 3px solid hsl(0, 87%, 67%);
      }
  
      button {
        background: hsl(180, 66%, 49%);
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 1rem 2rem;
        cursor: pointer;
        transition: 0.8s ease;
  
        &:hover{
          background-color: hsl(180, 35%, 48%);
        }
      }
    }
  }

  .link-card {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    align-items: center;

    .short-side {
      display: flex;
      gap: 1rem;
      align-items: center;

      a {
        color: hsl(180, 66%, 49%);

        &:hover{
          color: hsl(180, 35%, 48%);
        }
      }

      button {
        background: hsl(180, 66%, 49%);
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        transition: 0.8s ease;

        
        &:hover{
          background-color: hsl(257, 27%, 26%);
        }
      }
    }
  }
}//end of shorten link

//for statistics
.statistics {
  background: #f0f1f6;
  padding: 1rem 8%;
  text-align: center;
  height: 100vh;

  .texts{
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: hsl(257, 27%, 26%);
    }
    p{
      color: hsl(257, 7%, 63%);
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2rem;

    .card1 {
      background: white;
      padding: 2rem;
      border-radius: 10px;
      text-align: left;
      flex: 1;
      h3 {
        margin-bottom: 1rem;
        color: hsl(257, 27%, 26%);
      }
      p {
        color: hsl(257, 7%, 63%);
      }
    }
    .card2 {
      background: white;
      padding: 2rem;
      border-radius: 10px;
      text-align: left;
      flex: 1;
      margin-top: 30px;
      h3 {
        margin-bottom: 1rem;
        color: hsl(257, 27%, 26%);
      }
      p {
        color: hsl(257, 7%, 63%);
      }
    }
    .card3 {
      background: white;
      padding: 2rem;
      border-radius: 10px;
      text-align: left;
      flex: 1;
      margin-top: 70px;
      h3 {
        margin-bottom: 1rem;
        color: hsl(257, 27%, 26%);
      }
      p {
        color: hsl(257, 7%, 63%);
      }
    }
  }
}//end for stat

//footer part
.footer {
  background: #232127;
  color: white;
  text-align: center;
  padding-top: 4rem;

  .cta {
    background-color: hsl(257, 27%, 26%);
    background-image: url(assets/images/bg-boost-desktop.svg);
    padding: 4rem 2rem;
    border-radius: 10px;
    h2 {
      margin-bottom: 1rem;
      // font-size: 2rem;
    }
    button {
      background: hsl(180, 66%, 49%);
      color: #fff;
      border: none;
      border-radius: 23px;
      padding: 1rem 3rem;
      cursor: pointer;
      transition: 0.8s ease;

      &:hover{
        background-color: hsl(180, 35%, 48%);
      }
    }
  }

  .footer-links {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;

    .brand {
      font-weight: 700;
      font-size: 1.8rem;
    }

    .links {
      display: flex;
      gap: 5rem;

      h4 {
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        color: #bfbfbf;
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}